<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Lab Inventory</title>

    <link rel="stylesheet" href="../public/CSS/global.css" />
    <link rel="stylesheet" href="../public/CSS/home.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>

  <body>
    <!-- Header Section -->
    <header class="main-header">
      <div class="header-content">
        <a href="#" class="logo"> <span>Lab</span>Ly </a>
        <nav class="main-nav">
          <a href="#">Home</a>
          <a href="#">Catalogue</a>
        </nav>
        <div class="nav-icons">
          <a href="#"><i class="bi bi-bag-fill"></i></a>
          <a href="#"><i class="bi bi-person-fill"></i></a>
        </div>
      </div>
    </header>

    <main>
      <!-- Hero Section -->
      <section class="hero-section">
        <div class="container hero-content">
          <div class="hero-text">
            <h1>Kami Hadir Untuk Membantu Penelitianmu</h1>
            <p>
              Solusi akses peralatan riset terbaik tanpa komitmen investasi
              permanen. Kami menyediakan instrumen laboratorium terbaik,
              memastikan dukungan efisien dan terjamin untuk setiap proyek
              ilmiah dan pengembangan produk Anda.
            </p>
            <a href="#" class="btn btn-primary">
              Pinjam Sekarang
              <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
          <div class="hero-image">
            <img src="./Assets/Mickroscope.png" alt="Mikroscope" />
          </div>
        </div>
      </section>

      <!-- Why Section -->
      <section class="why-section">
        <div class="why-container">
          <div class="wrap">
            <i class="bi bi-beaker"></i>
            <div class="wrap-content">
              <h3>Alat Terbaik & Terjamin Mutu</h3>
              <p>
                Seluruh alat terawat dan berfungsi baik. Riset akurat Anda
                adalah prioritas kami.
              </p>
            </div>
          </div>
          <div class="wrap">
            <i class="bi bi-lightning"></i>
            <div class="wrap-content">
              <h3>Proses Digital & Respons Cepat</h3>
              <p>
                Peminjaman secara online. Cek ketersediaan instan dan lakukan
                peminjaman dengan cepat.
              </p>
            </div>
          </div>
          <div class="wrap">
            <i class="bi bi-people"></i>
            <div class="wrap-content">
              <h3>Layanan Terpersonalisasi & Cepat</h3>
              <p>
                Konsultasi untuk pertanyaan teknis atau konfirmasi alat.
                Dukungan khusus sesuai kebutuhan riset Anda.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Catalogue Section -->
      <section>
        <div class="container catalogue-content">
          <div class="type-product-wrap">
            <div class="type-product-box">
              <img src="./Assets/Incubator-CO2.png" alt="Incubator CO2" />
              <div class="type-product-content">
                <p>Type</p>
                <h3>Biologi & Ilmu Hayati</h3>
                <a href="">See More</a>
              </div>
            </div>
            <div class="type-product-box">
              <img src="./Assets/Spektrofotom.png" alt="Spektrofotom" />
              <div class="type-product-content">
                <p>Type</p>
                <h3>Kimia & Ilmu Material</h3>
                <a href="">See More</a>
              </div>
            </div>
          </div>

          <h2>Catalogue</h2>

          <div class="catalogue-filter">
            <div class="filter">
              <a href="">Best Items</a>
              <a href="">Availability</a>
              <a href="">Type</a>
            </div>
            <a href="">See More</a>
          </div>

          <div class="catalogue-grid">
            <div class="catalogue-item">
              <div class="item-img">
                <img src="./Assets/Mickroscope.png" alt="" />
              </div>
              <p class="item-name">Binokuler</p>
              <p class="item-price">IDR 1.000.000</p>
            </div>
            <div class="catalogue-item">
              <div class="item-img">
                <img src="./Assets/Mickroscope.png" alt="" />
              </div>
              <p class="item-name">Lysis</p>
              <p class="item-price">IDR 650.000</p>
            </div>
            <div class="catalogue-item">
              <div class="item-img">
                <img src="./Assets/Mickroscope.png" alt="" />
              </div>
              <p class="item-name">Reaktor</p>
              <p class="item-price">IDR 2.000.000</p>
            </div>
            <div class="catalogue-item">
              <div class="item-img">
                <img src="./Assets/Mickroscope.png" alt="" />
              </div>
              <p class="item-name">Binokuler Pro</p>
              <p class="item-price">IDR 1.500.000</p>
            </div>
            <div class="catalogue-item">
              <div class="item-img">
                <img src="./Assets/Mickroscope.png" alt="" />
              </div>
              <p class="item-name">Razor</p>
              <p class="item-price">IDR 900.000</p>
            </div>
            <div class="catalogue-item">
              <div class="item-img">
                <img src="./Assets/Mickroscope.png" alt="" />
              </div>
              <p class="item-name">Trunity</p>
              <p class="item-price">IDR 1.150.000</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Pro Section -->
      <section class="pro-section">
        <div class="container pro-content">
          <h3>Riset Canggih, Akses Mudah</h3>
          <div class="pro-images">
            <img src="../public/Assets/double-photo.png" alt="" />
          </div>
          <div class="pro-text">
            <p>
              Akses cepat untuk instrumen lab terbaik dan mendorong penelitian
              serta penemuan dengan biaya investasi yang terbatas.
            </p>
            <a href="#" class="btn btn-primary">
              Catalog Kami
              <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </section>

      <section class="peminjaman-section">
        <div class="container peminjaman-content">
          <h2>Langkah Mudah Untuk Peminjaman Alat Riset</h2>
          <p>
            Ikuti langkah mudah di bawah ini untuk memulai peminjaman alat riset
            dan laboratorium.
          </p>
          <div class="step-cards">
            <div class="step-card">
              <div class="step-icon"></div>
              <p>Akses global biaya riset alat laboratorium</p>
            </div>
            <div class="step-card">
              <div class="step-icon"></div>
              <p>Fleksibilitas untuk memesan kapan pun dan di mana pun</p>
            </div>
            <div class="step-card">
              <div class="step-icon"></div>
              <p>Akses terintegrasi dan alat riset di satu tempat</p>
            </div>
          </div>
        </div>
      </section>

      <section class="secondary-hero-section container">
        <div class="secondary-hero-image"></div>
        <div class="secondary-hero-text">
          <div class="text-box">
            <h2>Kami Hadir Untuk Membantu Penelitianmu</h2>
            <p>
              Lobby adalah solusi terdepan untuk pengadaan alat riset dan
              laboratorium. Kami menyediakan beragam mikroskop berkualitas
              tinggi dan peralatan ilmiah esensial lainnya.
            </p>
            <a href="#" class="btn btn-primary">Lihat Selengkapnya</a>
          </div>
        </div>
      </section>
    </main>

    <footer class="main-footer">
      <div class="container footer-top">
        <p>Tetap Terhubung dengan insight dan penawaran terbaik.</p>
        <div class="newsletter-form">
          <input type="email" placeholder="Email Anda" />
          <button class="btn btn-primary">[Plane Icon]</button>
        </div>
      </div>
      <div class="container footer-links">
        <div class="footer-col">
          <div class="logo">lobby</div>
          <p>Kontak kami:<br />+62 XXXXX<br />support@lobby.com</p>
        </div>
        <div class="footer-col">
          <h4>Layanan</h4>
          <ul>
            <li><a href="#">Produk</a></li>
            <li><a href="#">Peminjaman</a></li>
            <li><a href="#">Maintenance</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Perusahaan</h4>
          <ul>
            <li><a href="#">Tentang Kami</a></li>
            <li><a href="#">Karir</a></li>
            <li><a href="#">Hubungi Kami</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Syarat & Ketentuan</a></li>
            <li><a href="#">Kebijakan Privasi</a></li>
          </ul>
        </div>
      </div>
      <div class="container footer-bottom">
        <p>© 2024 Lobby. All rights reserved.</p>
        <div class="social-icons">
          <a href="#">[FB]</a>
          <a href="#">[IG]</a>
          <a href="#">[LinkedIn]</a>
        </div>
      </div>
    </footer>
  </body>
</html>
