/* --- Hero Section --- */
.hero-section {
  background: url(../Assets/Background.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
  position: relative;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
  height: 100vh;
}

.hero-text {
  width: 40vw;
  color: var(--color-text-light);
}

.hero-text h1 {
  margin-bottom: 1rem;
  color: var(--primary);
}

.hero-text p {
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
}

.hero-image {
  display: flex;
  max-width: 100vw;
  width: auto;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 90%;
}

/* --- Why Section --- */
.why-section {
  background-color: var(--primary);
  padding: 6.5rem 0;
}

.why-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 2rem;
  border-right: var(--base-white) solid 1px;
}

.wrap .bi {
  font-size: 2.5rem;
  color: var(--base-white);
}

.wrap-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--base-white);
}

.wrap-content h3 {
  font-weight: 600;
}

.wrap:last-child {
  padding-right: 0;
  border-right: none;
}

/* --- Catalogue Section --- */
.catalogue-content {
  padding: 8rem 0;
}

.type-product-wrap {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.type-product-box {
  display: flex;
  align-items: center;
  background-color: var(--background-product);
  border-radius: 1rem;
  padding: 3rem 2rem;
  gap: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 33rem;
  width: 100%;
}

.type-product-box img {
  height: auto;
  max-width: 10rem;
  width: 100%;
}

.type-product-box .type-product-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 1rem;
  line-height: 1.3;
}

.type-product-box .type-product-content p {
  color: var(--color-secondary);
  padding-bottom: 0.5rem;
}

.type-product-box .type-product-content a {
  display: inline-block;
  padding-top: 0.8rem;
  color: var(--secondary);
  font-weight: 600;
  transition: all 0.3s ease;
}

.type-product-box .type-product-content a:hover {
  color: var(--btn-hover-orange);
}

.catalogue-content h2 {
  text-align: center;
  padding: 3.8rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary);
}

.catalogue-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.catalogue-filter .filter {
  display: flex;
  gap: 1rem;
}

.catalogue-filter .filter button {
  background-color: transparent;
  color: var(--primary);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border: var(--primary) solid 2px;
  border-radius: 5rem;
  transition: all 0.3s ease;
}

.catalogue-filter .filter button:hover {
  background-color: var(--primary);
  color: var(--base-white);
}

.catalogue-filter a {
  color: var(--secondary);
  font-weight: 600;
}

.catalogue-filter a:hover {
  color: var(--btn-hover-orange);
}

.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.catalogue-item {
  background-color: var(--background-product);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 1;
}

.item-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;

  overflow: hidden;
  margin: 0 auto 10px auto;
}

.item-img img {
  width: 50%;
  height: auto;
  border-radius: 8px;

  transition: transform 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
}

.item-name {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--primary);
}

.item-price {
  font-weight: 500;
  margin-top: 5px;
}

.catalogue-grid a:hover .catalogue-item {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.catalogue-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 68, 135, 0);
  z-index: 2;
  border-radius: 1rem;
  pointer-events: none;
  transition: background-color 0.3s ease-in-out;
}

.catalogue-grid a:hover .catalogue-item::before {
  background-color: rgba(11, 68, 135, 0.1);
}

.catalogue-grid a:hover .item-img img {
  transform: scale(1.1);
}

.catalogue-item .item-name,
.catalogue-item .item-price {
  position: relative;
  z-index: 3;
}

/* --- Pro Section --- */
.pro-section {
  background-color: var(--primary);
  padding: 3rem 0;
}

.pro-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  color: var(--base-white);
}

.pro-content h3 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pro-text p {
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 2rem;
}

.btn {
  display: inline-flex;
}

/* --- Advantage Section --- */
.advantage-section {
  padding: 6rem 0;
  background-image: var(--background-gradient);
}

.reason-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  padding-bottom: 1.5rem;
  text-align: center;
}

.reason-content p {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
  color: var(--color-secondary);
  text-align: center;
}

.reason-card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 2rem;
}

.reason-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.reason-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.reason-card .bi {
  font-size: 2rem;
  color: var(--base-white);
  transition: all 0.5s ease;
}

.reason-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
  padding-top: 1.5rem;
}

.reason-card p {
  color: var(--color-secondary);
  font-size: 1rem;
  padding-top: 1rem;
}

.banner-section {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  padding: 0;
  margin-top: 3rem;
  background-color: var(--background-product);
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-image {
  overflow: hidden;
  flex-shrink: 0;
  flex-basis: 40%;
  line-height: 0;
  border-radius: 1rem;
  height: 100%;
}

.banner-image {
  flex-shrink: 0;
  flex-basis: 40%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;

  background-position: center;
  background-repeat: no-repeat;
}

.banner-content {
  flex-basis: 60%;
  padding: 2rem;
}

.banner-content h3 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  color: var(--primary);
  padding-bottom: 1rem;
}

.banner-content p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 2rem;
}

.banner-content .btn {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .hero-image img {
    width: 80%;
  }

  .why-section {
    padding: 5rem 0;
  }

  .wrap-content h3 {
    font-size: 1.1rem;
  }

  .wrap .bi {
    font-size: 2rem;
  }

  .type-product-box .type-product-content h3 {
    font-size: 1.6rem;
  }

  .type-product-box img {
    height: auto;
    max-width: 8rem;
    width: 100%;
  }

  .catalogue-content h2 {
    font-size: 2.2rem;
  }

  .pro-content h3 {
    font-size: 2rem;
  }

  .pro-images img {
    width: 100%;
  }

  .banner-content h3 {
    font-size: 1.8rem;
  }

  .banner-content p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 992px) {
  .hero-image img {
    width: 70%;
  }

  .why-section {
    padding: 4rem;
  }

  .wrap-content p {
    display: none;
  }

  .wrap {
    flex-direction: column;
    text-align: center;
  }

  .type-product-box img {
    height: auto;
    max-width: 8rem;
    width: 100%;
  }

  .catalogue-item .item-name {
    font-size: 1.2rem;
  }

  .pro-content h3 {
    font-size: 1.9rem;
  }

  .reason-content h2 {
    font-size: 1.7rem;
  }

  .reason-content p {
    font-size: 1.1rem;
  }

  .reason-icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  .reason-card .bi {
    font-size: 2rem;
  }

  .reason-card h3 {
    font-size: 1.2rem;
  }

  .reason-card p {
    font-size: 0.95rem;
  }

  .banner-section {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
  }

  .banner-image {
    flex-basis: auto;
    width: 100%;
    height: auto;

    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .banner-content {
    flex-basis: auto;
    width: 100%;

    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .banner-image img {
    width: 100%;
  }

  .banner-content h3 {
    font-size: 1.5rem;
  }

  .banner-content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    display: none;
  }

  .hero-text {
    width: 100%;
    text-align: center;
    padding: 6rem 1rem;
  }

  .hero-text h1,
  .hero-text p {
    text-align: center;
  }

  .wrap-content h3 {
    font-size: 1rem;
  }

  .type-product-box img {
    height: auto;
    max-width: 5rem;
    width: 100%;
  }

  .type-product-box {
    padding: 1.5rem 2rem;
  }

  .type-product-box .type-product-content h3 {
    font-size: 1.1rem;
  }

  .type-product-box .type-product-content a,
  .type-product-box .type-product-content p {
    font-size: 0.9rem;
  }

  .catalogue-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .item-img img {
    width: 40%;
  }

  .catalogue-content h2 {
    font-size: 1.9rem;
  }

  .catalogue-filter a {
    font-size: 0.9rem;
  }

  .catalogue-item .item-name {
    font-size: 1.2rem;
  }

  .pro-content {
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .pro-images {
    display: none;
    flex-basis: 0;
    width: 0;
  }

  .pro-text {
    width: 100%;
    text-align: center;
  }

  .pro-content h3,
  .pro-text p {
    text-align: center;
  }

  .reason-content h2 {
    font-size: 1.5rem;
  }

  .reason-content p {
    font-size: 1rem;
  }

  .reason-card p {
    display: none;
  }

  .banner-section {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
  }

  .banner-image {
    flex-basis: auto;
    width: 100%;
    height: auto;

    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .banner-content {
    flex-basis: auto;
    width: 100%;

    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-content {
    padding-top: 8rem;
    height: auto;
  }

  .hero-text {
    padding: 0 0.5rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 0.8rem;
  }

  .why-section {
    padding: 3rem 0;
  }

  .why-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .wrap {
    padding-right: 0.8rem;
    gap: 0.5rem;
  }

  .wrap .bi {
    font-size: 1.4rem;
  }

  .wrap-content h3 {
    font-size: 0.7rem;
  }

  .catalogue-content {
    padding: 4rem 0;
  }

  .type-product-wrap .type-product-box img {
    display: none;
  }

  .type-product-wrap .type-product-box p,
  .type-product-wrap .type-product-box a {
    font-size: 0.8rem;
  }

  .type-product-wrap .type-product-box h3 {
    font-size: 0.8rem;
  }

  .catalogue-content h2 {
    font-size: 1.7rem;
    padding: 2rem 0 1.5rem;
  }

  .catalogue-filter {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }

  .catalogue-filter a {
    font-size: 0.6rem;
  }

  .catalogue-filter .filter {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  .catalogue-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .item-img img {
    width: 40%;
  }

  .pro-section {
    padding: 2.5rem 0;
  }

  .pro-content h3 {
    font-size: 1.6rem;
  }

  .pro-text p {
    padding-bottom: 1.5rem;
  }

  .advantage-section {
    padding: 4rem 0;
  }

  .reason-content h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .reason-content p {
    font-size: 0.9rem;
  }

  .reason-card-wrap {
    grid-template-columns: 1fr;
    padding-top: 1rem;
  }

  .reason-card {
    padding: 1.5rem;
  }

  .reason-icon {
    width: 4rem;
    height: 4rem;
  }

  .reason-card h3 {
    font-size: 1.1rem;
  }

  .banner-content {
    padding: 1.5rem;
  }

  .banner-content h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  .wrap-content h3 {
    font-size: 0.8rem;
  }

  .catalogue-item .item-name {
    font-size: 0.7rem;
  }

  .catalogue-item .item-price {
    font-size: 0.6rem;
  }
}
